#introduction{
    height: auto;
    width: 50%;
    text-align: center;
}

p{
    vertical-align: middle;
}

#logos{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

#github{
    height: 50px;
    width: 50px;
}

#linkedin{
    height: 50px;
    width: 50px;
}