html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    display: flex;
    height: 100%;
}

main{
    background-color: rgba(109, 109, 109, 0.349);
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

a{
    color: blueviolet;
    text-decoration: none;
}